<!doctype html>
<html lang="en" ng-app="ApiFromNode">
<head>
    <meta charset="UTF-8">
    <title>My Api</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
</head>
<body ng-controller="mainController as vm">
<button ng-click="vm.getdata()">Get data</button>

{{vm.data}}

<script src="/assets/js/app.js"></script>
</body>
</html>